<br />
<br />
<br />
<h4 class="text-danger">
    This student is already inscribed in this club, try with another one!
</h4>
<br />
<br />
<p>
    <a asp-controller="Club" asp-action="AllClub" class="btn btn-danger">Go Back</a>
</p>
